li{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;

}

.navbar{
    filter: grayscale(20%);
}




.container-card-product{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center
}

.product-card{
        margin-right:70px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        margin-right: 60px;
  }
    
  
}


.product-card-1{

    margin-right: 100px;
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        margin-right: 75px;
  }
}

.cart-badge, .cart-badge:hover{
    border-radius: 50% ;
    padding:3px;
    font-size:12px;
    /* font-style: italic; */
    background:#e73c7e
}

li{
    list-style: none;
}