.card1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    margin-left: 130px;
    margin-right: 10px;
    margin-bottom: 15px;


    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            
        display: flex;
        flex-direction: column;
     //   align-items: center;
       //justify-content: center;
        margin-left: 80px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 200px;
    }
}
    
  
  
  /* On mouse-over, add a deeper shadow */
  .card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  ////////////////////////////////////////////////////////

  //// Card 2 details
  .card2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    margin-left: 80px;
    margin-right: 10px;
    margin-bottom: 15px;


    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            
        display: flex;
        flex-direction: column;
     //   align-items: center;
       //justify-content: center;
        margin-left: 70px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 250px;
    }
}
    
  
  
  /* On mouse-over, add a deeper shadow */
  .card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


  /// card 3  styles cart ///

  .card3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;
    margin-left: 80px;
    margin-right: 10px;
    margin-bottom: 15px;


    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            
        display: flex;
        flex-direction: column;
     //   align-items: center;
       //justify-content: center;
        margin-left: 70px;
        margin-right: 10px;
        margin-bottom: 15px;
        width: 200px;
    }
}
    
  
  
  /* On mouse-over, add a deeper shadow */
  .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  input[type="number"] {
  //   -webkit-appearance: textfield;
  //      -moz-appearance: textfield;
  //           appearance: textfield;
  // }
  // input[type=number]::-webkit-inner-spin-button, 
  // input[type=number]::-webkit-outer-spin-button { 
  //   -webkit-appearance: none;
width: 50%;  

}