*{
    //universal selector 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'PT Serif', serif;
font-size: 14px;
//font-size: 16px;
//background-color: black;
}

p{
margin-bottom: 30px;
}

.regular-text{
font-weight: 400;
font-family:'Pacifico', cursive ; 
}

/////// Header ///////////

.header-content{
    width: 100%;
    height: 100vh;
    
    //color: #fff;
    background:black;
    background-image: url(./img/mariscos.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; // we can move while the photo its static
    box-shadow: inset 0 0 100px 150px rgba(0,0,0,.8);// shadow inside around the page


///position static photo///

position: relative;;
top:0;// change for the navbar
left: 0;

//flex box

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

z-index: 1;

}

/////////////// banner container /////////////

.banner-container{
    width: 100%;
    height: 50vh;
    filter: grayscale(35%);
    //color: #fff;
    background:black;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    //background-position: center; 
   // background-attachment: fixed; // we can move while the photo its static

}


//////////////////////////////////////////

.container{
    max-width: 2120px
}



.header-text{
color: #fff;
}

.header-text .icon{
font-size: 45px;
}

.header-text .title{
font-weight: 700;
font-size: 50px;
animation: blue-neon 2s infinite alternate;
}

.header-text .orange-neon-title,
.header-text .icon{

margin: 0;
font-size: 60px;
animation: orange-neon 2s infinite alternate;


} 
 @media(max-width: 769px){
    .header-text .orange-neon-title
      {
      font-size: 40px;
      
    }
    .header-text .description{

        margin-top: 40px;
        font-size: 15px;
        

    }
    .header-text .title{
        font-size: 35px;
    }
    .header-text .icon{
        font-size: 50px;
    }
    .btn-link{
        font-size: 20px;
    }
}

.header-text .description{

margin-top: 40px;
font-size: 20px;


}

.description::first-line {
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}

.btn-link{
display: inline-block;
padding: 15px 30px;
border: 6px dotted #d79e5b;
border-radius: 60px;
color: #fff;
text-decoration: none;
font-size: 25px;
//  text-transform: uppercase;
text-shadow:
 0 -1px 4px #fff,
 2px 2px 10px #ff0,
 2px -2px 20px #ff8000;
 transition: .5s ease;
}

.btn-link:hover{
text-shadow: none;
border: 6px dotted rgba(255,255,255,.5)
}



/////////  MAIN //////////

main{
color: #000;
width: 100%;
height: 100vh;
z-index: 100;
position: relative;
margin-top: 100vh;
font-size: 18px;
// background: black;

}

main .container { 
padding: 50px 0;
width: 90%;
max-width: 1000px;
margin: auto;
}

main .h2-subtitle{
margin-bottom: 50px;
padding: 0;
font-size: 40px;
text-align: center;////
font-family: 'Open Sans Condensed', sans-serif;
color:#d79e5b ;

}

main .capital-letter {
font-size: 55px;
font-family: serif;
margin-right: 5px;
line-height: 15px;
}



//////// About us seccion ////////

.About-container{
    display: flex;

    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
     @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
              margin-top: 20px;
              flex-direction: column;
             
        }

    .about-us-des{
        
        margin-left: 30px;
        
    }
    .about-us img{
        height: 250px;
        margin-left: none;
        @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            height: 200px;
      }
    }
    
}

//////////////////////////////////////

.spacer{
    margin-bottom: 100px;
}
.footer-nav{
    margin:0;
    padding: 0;
}

.React,.Node, .Sass {
   // font-size: 14px;
}



.Skills-icon{

display: flex;
flex-direction: column;
align-items: center;
border-top: 2px solid white;
border-bottom: 2px solid white;    

.Logo1 {
    // border: 4px solid red;
     width: 200px;
     height: 200px;
     display: flex;
     justify-content: center;
     padding-bottom: 15px;
     border-radius: 100px;
 
 }
 
 .Logo1 img {
     height: 200px;
     width: 250px;
     }

.React {
   // border: 4px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-radius: 100px;

}

.React img {
    height: 200px;
    width: 250px;
    }
.Node img {
     height: 200px;
     width: 300px;

    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            
                height: 120px;
                width: 200px;
        }

        }
 .Mongo img {
     height: 200px;
     width: 200px;
            }
        
.Node{
    //border: 4px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: 100px;
}

.Mongo{
   // border: 4px solid red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-radius: 100px;
}

.Sass img {
    width: 200px;
    height: 200px;
    //  height: 200px;
    //  width: 300px;

    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
            
                height: 140px;
                width: 200px;
        }
}



.info2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 30px;
    color:#d79e5b ;
    font-weight: .5px;
    font-size: 50px;

}


}


.Hobbies-icon {
display: flex;
//flex-direction: row;

justify-content: center;
flex-wrap: wrap;
border-top: 2px solid white;
border-bottom: 2px solid white;

@media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
    //flex-wrap: wrap; // <-- para acomodar los items en una lina o en varias (bajar iconos)
   //flex-direction: column;
    }    
}

.H-icons img{
    margin-top: 20px;
    width: 80px;
    height: 80px;
}


.arrow {
 
    font-family: 'PT Serif', serif;
    font-size: 14px;
}